.intro_marvin_con {
    background-color:lightpink;
    width: 500px;
    border: 5px solid;
    border-color: chartreuse;
}
.intro_marvin_con.a {
  background-color: lightgreen;
}
.marvin_age_con {
    color: lightblue;
}