.zhan_intro_con {
    background-color: aqua;

    border:solid 3px blueviolet;
    border-radius: 50px;
    


    h1 {
        color:green;
        font-size: 16px;
        font-weight: 100;
    }
}

.zhan_intro_con {
}

.zhan_intro_con h1 {
    /* color: red; */
    text-decoration:none;
}


.idriss_con {
    background-color: blue;
}

.yo {
    width: 800px;

}

#myAge {
    color: yellow;
}