.intro_marvin_con {
    background-color:lightpink;
    width: 80%;
    border: 5px solid;
    border-color: chartreuse;
}
.intro_marvin_con.a {
  background-color: lightgreen;
}
.name_age_con {
    color: lightblue;
}